NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/payment_app?schema=public"
WEB_ORIGIN=http://localhost:5173
WOMPI_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1
WOMPI_PUBLIC_KEY=replace_with_public_sandbox_key
WOMPI_PRIVATE_KEY=replace_with_private_sandbox_key
WOMPI_INTEGRITY_SECRET=replace_with_integrity_sandbox_secret
BASE_FEE_CENTS=250000
DELIVERY_FEE_CENTS=900000
